/* custom css */

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* responsive */
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}